* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 13px;
}

.text-uppercase {
    text-transform: uppercase;
}

.btn {
    padding: 7px 10px;
    color: white;
    text-decoration: none;
}

.btn-blue {
    border: 1px solid #4285f4;
    border-radius: 5px;
    font-weight: bold;
    outline: none;
    background: #4285f4;
    background: -webkit-linear-gradient(top, #4387fd, #4683ea);
}

.container {
    width: 95%;
    margin: auto;
}

.flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* HEADER LEFT */
.header-left {
    width: 160px;
}

ul.left-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 60px;
}

ul.left-list li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

ul.left-list li a:hover {
    text-decoration: underline;
}

/* ------------- */

/* HEADER RIGHT */
.header-right {
    width: 240px;
}

ul.right-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    height: 60px;
    position: relative;
}

ul.right-list li a:not(.btn):hover {
    text-decoration: underline;
}

.menu-icon {
    font-size: 16px;
}

div.dropdown {
    display: none;
    width: 300px;
    height: 500px;
    position: absolute;
    top: 60px;
    right: 0;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: auto;
    background-color: white;
    z-index: 10;
}

.dropdown .card {
    display: inline-block;
    text-align: center;
    width: 32%;
    margin: 10px auto;
    border-radius: 10px;
}

div.dropdown img {
    width: 80%;
    height: 80%;
}

.dropdown .card:hover {
    background-color: rgba(255, 192, 203, 0.411);
}

div.dropdown i {
    font-size: 70px;
}

ul.right-list li a:not(.btn) {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

/* MAIN */
.center-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

#logo {
    margin-bottom: 20px;
}

#logo img {
    height: 100px;
}

.search {
    display: flex;
    border-radius: 30px;
}

.search input {
    height: 45px;
    width: 500px;
    border: 1px solid #d9d9d9;
    border-right: none;
    border-left: none;
    font: 16px arial, sans-serif;
    /* line-height: 34px; */
}

.shadow {
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.search input:focus {
    outline: none;
}

.search-left,
.search-right {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border: 1px solid #d9d9d9;
}

.search-left {
    border-radius: 50% 0 0 50%;
    border-right: none;
}

.search-right {
    border-radius: 0 50% 50% 0;
    border-left: none;
}

.buttons {
    margin-top: 25px;
}

.buttons button {
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

footer a:not(.btn):hover {
    text-decoration: underline;
}

/* FOOTER-TOP */
.footer-top-wrapper {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    display: none;
}

.footer-top {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-left {
    display: flex;
    align-items: center;
}

.footer-top-left span {
    display: inline-block;
    font-size: 24px;
    padding-left: 20px;
}

.footer-top-right a:last-child {
    margin-left: 20px;
}

/* ------------- */

/* FOOTER CENTER */

.footer-center-wrapper {
    background-color: rgb(242, 242, 242);
    border-bottom: 1px solid #e4e4e4;
}

.footer-center {
    width: 100%;
    height: 40px;
}

.footer-center span {
    line-height: 40px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.54);
}

/* ------------- */

/* FOOTER BOTTOM */
.footer-bottom-wrapper {
    background-color: rgb(242, 242, 242);
}

.footer-bottom {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom {
    line-height: 40px;
    font-size: 14px;
}

.footer-bottom-left a:not(:first-child) {
    margin-left: 25px;
}
.footer-bottom-right a:not(:last-child) {
    margin-right: 25px;
}
